<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Logowanie</title>
</head>
<body>
<div th:if="${param.error}">
    Nieprawidłowa nazwa użytkownika lub hasło
</div>
<div th:if="${param.logout}">
    Zostałeś wylogowany
</div>
<div th:if="${param.signedIn}">
    Twoje konto zostało utworzone
</div>
<form th:action="@{/login}" method="post">
    <div><label> Nazwa użytkownika: <input type="text" name="username"/> </label></div>
    <div><label> Hasło: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Zaloguj"/></div>
    <p><a th:href="@{/signIn}">Utwórz konto</a></p>
</form>
</body>
</html>