<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Sign in</title>
</head>
<body>
<p>Podaj nazwę użytkownika, email oraz hasło</p>
<form action="#" th:action="@{/signIn}" th:object="${userModel}"
      method="post">
    <table>
        <tr>
            <td>Nazwa użytkownika:</td>
            <td><input type="text" th:field="*{username}" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Nieprawidłowa nazwa użytkownika!</td>
        </tr>
        <tr>
            <td>Hasło:</td>
            <td><input type="password" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Nieprawidłowe hasło!</td>
        </tr>
        <tr>
            <td>Potwierdź hasło:</td>
            <td><input type="password" th:field="*{confPassword}" /></td>
            <td th:if="${#fields.hasErrors('confPassword')}" th:errors="*{confPassword}">Nieprawidłowe hasło</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Nieprawidłowy email!</td>
        </tr>
        <tr>
            <td><button type="submit">Zarejestruj</button></td>
        </tr>
    </table>
</form>
</body>
</html>